{% extends "base.html.twig" %}

{% block title %} Accueil| {{ parent() }}
{% endblock %}


{% block content %}
{% include "parts/banniere.html.twig" %}


<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Bienvenue sur mon Shop</h1>
        </div>
    </div>
</div>

<table>
 {% for produit in produits %}
<td>
<div class="card" style="width: 18rem;">
 <img src="{{produit.image}}" alt="{{produit.image}}">
  <div class="card-body">
    <a href="{{path('app_produit',{"id": produit.id,"slug":produit.nom})}}">{{produit.nom}}</a>
    <p class="card-text">{{produit.descriptionCourte}}</p>
  </div>
</div>
</td>
{% endfor %}
</table>


{% endblock %}